
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
        <link rel = "defaultstyle" type="text/css" href="webpages/css/default.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
        <body>
            <main>
                
                <header id ="head">
                    <figure  align ="center">
                        <img src = "https://i.pinimg.com/originals/70/6f/28/706f281185a1aaf62f59f7abbb76bdc1.png" title="BurgerHeaven", id ="head_image">
                    </figure>
                    <h1 id = "rubrik" >Välkommen till Burger Heaven</h1>
                </header>
                

<section id="burgers">
<h3 class = "burgare">Välj din burgare</h3>
<p class = "burgare">Här finns alla våra burgare </p>

<div class="wrapper">
    <div class="box a">
        <h4>Flagship Burger</h4>
        <img src="https://as1.ftcdn.net/jpg/00/94/92/10/500_F_94921053_Lc06uabhNtMNSKq6H5gBhZVDoI6nKjXW.jpg" alt="Hamburgare" title="Flagskeppet" width="400">
    </div>
    <div class="box b">
        <h4>Double Cheese</h4>
        <img src ="https://image.shutterstock.com/z/stock-photo-double-cheeseburger-with-tomato-and-onion-379861645.jpg" alt ="cheese Burger" title="Mums" width ="400">

    </div>
    <div class="box c">
        <h4>Nasty Joe</h4>
        <img src ="https://image.shutterstock.com/z/stock-photo-bacon-burger-with-beef-patty-on-wooden-table-215936923.jpg" alt ="Halloumi" title = "Nasty Joe" width = "400">
    </div>
    <div class="box d">
        <li >Gluten, Laktos</li>
        <li>En riktigt saftig burgare</li>
    </div>
    <div class="box e">
        <li>Gluten, Laktos</li>
        <li>Äkta Gauda</li>
    </div>
    <div class="box f">
        <li>Gluten, Laktos</li>
        <li>För den hungriga</li>
    </div>
  </div>

</section>
<section id = "leverans">
<h3>Din leveransinformation</h3>
<p>Här fyller du i din leveransinformation</p>
<p>
        
    <form>
        <p>
            <label for="First- and Last name">Fullname</label><br>
            <input id="First- and Last name" name="fist and last" required="required" placeholder="First- and Last name" type="text">
        </p>
        <p>
            <label for="Email">Email</label><br>
            <input id="Email" name="em" placeholder="Email address" type="text">
        </p>
        <p>
            <label for="Street">Street</label><br>
            <input id="Street" name="strt" placeholder="Street name" type="text">    
        </p>
        <p>
            <label for="House">House</label><br>
            <input id="House" name="hs" placeholder="House number" type="text">    
        </p>
        <p>
            <label for="Payment options">Payment options</label><br>
            <select id="Payment options" name="pmt">
                <option>Card</option>
                <option>Swish</option>
                <option>Billl</option>
            </select>
        </p>
        <p>
            <h4>Gender</h4>

                <input type="radio" checked="checked" name = "gender" value ="Male"> Male<br>
                <span class="checkmark"></span>
            
        </p>   
        <p>
        
                <input type="radio" name = "gender" value ="Female"> Female<br>
                <span class="checkmark"></span>
              </label>
        </p> 
        <p>  
              <label>
                <input type="radio" name = "gender" value ="Other"> Other<br>                
                <span class="checkmark"></span>
              </label>
        </p>
       
           
        </form>
        <p align = "center">
                <button type="Submit"> <img src = "http://static1.squarespace.com/static/5a02606abce1766d207a3ac9/5a0b7433f9619a162489a1f1/5a5539f4c83025c11eae708a/1547669501687/?format=1500w"> 
                    Send order>
                </button> 
                </p>

</section>
</main>
</body>
<footer>
        <p align = "center" >
            &copy; Burger Heaven
        </p>
        <p align = "center">
        Contact information: <a href="mailto:burgerheaven@example.com">burgerheaven@example.com</a>.
        </p>
    </footer>
    
</html>
