
<!DOCTYPE html>
<html lang="en">
        

    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
        <link rel = "defaultstyle" type="text/css" href="webpages/css/default.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="css/deli-very.css">
        <script type="text/javascript" src="js/menu.js" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/js_script.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        <script src="/vue/vue.js" defer></script>
        
    </head>
        <body>
           <div id="mainId">
               <template>
            <main>
                
                <header id ="head">
                    <figure  align ="center">
                        <img src = "https://i.pinimg.com/originals/70/6f/28/706f281185a1aaf62f59f7abbb76bdc1.png" title="BurgerHeaven" id ="head_image">
                    </figure>
                    <h1 id = "rubrik" >Valkommen till Burger Heaven</h1>
                </header>
                

<section id="burgers">
<div>
<h1 class = "burgare">Valj din burgare </h1>
<p class = "burgare">Har finns alla vara burgare </p>
</div>
<div>
<div id ="wrapper"> 
    <div  v-for="burger in food">
        <div class = "loop"> 
            <h4><input type="checkbox" :name="burger.burgername" :value="burger.burgername" v-model="Choise"> {{burger.burgername}}</h4>
            <img v-bind:src = "burger.img":alt="burger.burgername" :title="burger.burgername" style="width: 400px;height: 300px;"> <!--v-bind == :-->
            <ul>
                <li class="Allergens" v-if="burger.gluten">Gluten</li>
                <li class="Allergens" v-if="burger.lactose">Lactose</li>
                <li> <span>kcal </span>{{burger.Calories}}</li>
            </ul>
        </div>
    </div>
</div>

</section>

<section id = "leverans">
    <h3>Din leveransinformation</h3>
    <p>Har fyller du i din leveransinformation</p>
<p>
        
    <form>
        
         <label for="First- and Last name">Fullname</label><br>
            <input id="First- and Last name" name="fist and last" required="required" placeholder="First- and Last name" type="text" v-model="Fullname"><br>
    
    
        <label for="Email">Email</label><br>
            <input id="Email" name="em" placeholder="Email address" type="text" v-model="Email"><br>
        
        <label for="Payment">Payment options</label><br>
            <select id="Payment" name="pmt" v-model="Payment">
                <option>Card</option>
                <option>Swish</option>
                <option>Bill</option>
            </select>
        
        <h1> Click in the map! </h1>
            <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
            <div class="view-box">
                  <div id="dots" v-on:click="displayOrder">
                      <div v-for="order in orders" v-bind:style="{ left: orders.details.x + 'px', top: orders.details.y + 'px'}">
                        T
                      </div>
                  </div>  
            </div>
        
        <h4>Gender</h4>
            
            <input type="radio" name = "gender" value ="Male" v-model="Gender"> Male<br>
                <span class="checkmark"></span>
        
            <input type="radio" name = "gender" value ="Female" v-model="Gender"> Female<br>
                <span class="checkmark"></span>
            
            <input type="radio" name = "gender" value ="Other" v-model="Gender"> Other<br>                
                <span class="checkmark"></span>
         
        </form>
        <p align = "center">
                <button type="Submit" v-on:click="addOrder"> <img src = "http://static1.squarespace.com/static/5a02606abce1766d207a3ac9/5a0b7433f9619a162489a1f1/5a5539f4c83025c11eae708a/1547669501687/?format=1500w"> 
                    Send order!
                </button> <br><br>
                Tack för din beställning!
                </p>
                <p>
                    <p> Bekräftelse information:</p>
                    <div v-for="index in form">
                        {{index}}
                    </div>
                </p>
</section>
</main>
</div>
</template>
</div>
</body>
<footer>
        <p align = "center" >
            &copy; Burger Heaven
        </p>
        <p align = "center">
        Contact information: <a href="mailto:burgerheaven@example.com">burgerheaven@example.com</a>.
        </p>
    </footer>
    
</html>
