
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
        <link rel = "defaultstyle" type="text/css" href="webpages/css/default.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
        <body>
            <main>
                <h1 id = "rubrik">Välkommen till Burger Heaven</h1>
            
<section id="burgers">
<h3 class = "burgare">Välj din burgare</h3>
<p class = "burgare">Här finns alla våra burgare </p>

    <table align = "center">
        <thead>
            <tr>
            <th><h4>Flagship Burger</h4></th>
            <th>Double Cheese</th>
            <th>Nasty Joe</th>
            </tr>
        </thead>
            <tbody>
                <tr align = "center">    
        <td><img src="https://as1.ftcdn.net/jpg/00/94/92/10/500_F_94921053_Lc06uabhNtMNSKq6H5gBhZVDoI6nKjXW.jpg" alt="Hamburgare" title="Flagskeppet" width="100"></td>
        <td><img src ="https://image.shutterstock.com/z/stock-photo-double-cheeseburger-with-tomato-and-onion-379861645.jpg" alt ="cheese Burger" title="Mums" width ="100"></td>
        <td><img src ="https://image.shutterstock.com/z/stock-photo-bacon-burger-with-beef-patty-on-wooden-table-215936923.jpg" alt ="Halloumi" title = "Nasty Joe" width = "100"></td>
    </tr>
    <tr align = "center" class="Allergens" id="matinfo">     
        <ul><td ><li >Gluten, Laktos</li></td>
            <td> <li>Gluten, Laktos</li></td>
            <td> <li>Gluten, Laktos</li></td>
    </tr> 
    <tr align = "center">
            <td> <li>En riktigt saftig burgare</li></td>
            <td> <li>Äkta Gauda</li></td>
            <td> <li>För den hungriga</li></td></ul>
        
        
    </tr>

            </tbody>

            </table>

</section>
<section id = "leverans">
<h3>Din leveransinformation</h3>
<p>Här fyller du i din leveransinformation</p>
<p>
        
    <form>
        <p>
            <label for="First- and Last name">Fullname</label><br>
            <input id="First- and Last name" name="fist and last" required="required" placeholder="First- and Last name" type="text">
        </p>
        <p>
            <label for="Email">Email</label><br>
            <input id="Email" name="em" placeholder="Email address" type="text">
        </p>
        <p>
            <label for="Street">Street</label><br>
            <input id="Street" name="strt" placeholder="Street name" type="text">    
        </p>
        <p>
            <label for="House">House</label><br>
            <input id="House" name="hs" placeholder="House number" type="text">    
        </p>
        <p>
            <label for="Payment options">Payment options</label><br>
            <select id="Payment options" name="pmt">
                <option>Card</option>
                <option>Swish</option>
                <option>Billl</option>
            </select>
        </p>
        <p>
            <h4>Gender</h4>

                <input type="radio" checked="checked" name = "gender" value ="Male"> Male<br>
                <span class="checkmark"></span>
            
        </p>   
        <p>
        
                <input type="radio" name = "gender" value ="Female"> Female<br>
                <span class="checkmark"></span>
              </label>
        </p> 
        <p>  
              <label>
                <input type="radio" name = "gender" value ="Other"> Other<br>                
                <span class="checkmark"></span>
              </label>
        </p>
       
           
        </form>
        <p align = "center">
                <button type="Submit"> 
                    Send order
                </button> 
                </p>

</section>
</main>
</body>
<footer>
        <p align = "center" >
            &copy; Burger Heaven
        </p>
        <p align = "center">
        Contact information: <a href="mailto:burgerheaven@example.com">burgerheaven@example.com</a>.
        </p>
    </footer>
    
</html>
