@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Pacifico|Dosis");
body {
    font-family: Arial;
    font-size: 16pt; 
}

.Allergens {
    color: white;
}

#matinfo {
    font-weight: bold;
}

#burgers {
    background-color: black;
    color: white;
}
  